ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
li{
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  flex: 0 50%;
  min-width: 300px;
}
.data-wrapper{
  display:flex;
  flex-direction: column;
  flex:2;
}
li img{
  border-radius:50%;
  flex:1;
}
.data-wrapper p{
  margin-left: 1rem;
  font-size: 2rem;
}
.data-wrapper a{
  margin-left: 1rem;
}

